<div class="audio-player" *ngIf="selectedSong.url">

    <div class="song-info">
        <img src="{{selectedSong.urlImage}}" height="70px" />
        <div>
            <h3
                style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-left: 10px;">
                {{ selectedSong.title }}
            </h3>
            <div *ngIf="checkSong(selectedSong)">
                <i  class="bi bi-heart-fill"
                    style="color: rgb(255, 81, 81); font-size: 20px;"></i>
            </div>

            <div *ngIf="!checkSong(selectedSong)">
                <i (click)="addToPlaylist(selectedSong)" class="bi bi-heart-fill"
                    style="color: #fff; font-size: 20px;"></i>
            </div>

        </div>
    </div>

    <audio controls [src]="selectedSong.url"  autoplay></audio>
</div>